{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- "" -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    ephemeral = {{ $ephemeral }}
    name = "Chad Metcalf"
    email = "metcalfc@gmail.com"
